.rodape {
    background-color: var(--fundo-rodape);
    padding: 1.5em 1.5em;
    border-top: 1px solid var(--cinza-claro-rodape);
    height: 1.25em
}

.rodape__educacao{
    display:none;
}

.rodape__educacao-online{
    display:none;
}

.rodape__comunidade{
    display:none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 450px;

    }
    .rodape__texto{
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
    }

    .rodape__titulo-coluna, 
    .rodape__nome{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .rodape__titulo-coluna{
        color: var(--cinza-claro-rodape);
        padding-bottom: 1em;
    }

    .rodape__icone{
        height: 35px;
        width: 35px;
    }
    
    .rodape__nome{
        color: var(--cinza-escuro-rodape);
        padding: 0 .5em
    }

    .rodape__icone-e-nome{
        display: flex;
        align-items: center;
        padding: .5em 0
    }

    .rodape__educacao {
        display: block;
    }

    .rodape__educacao-online {
        display: block;
    }

    .rodape__comunidade {
        display: block;
    }
}

@media screen and (min-width: 1728px){
    .rodape__educacao,
    .rodape__educacao-online,
    .rodape__comunidade{
        border-left: 1px solid var(--cinza-claro-rodape);
        padding-left: 1.5em;
    }

    .rodape{
        height: auto;
    }

    .rodape__grupo-alura{
        text-align: center;
        padding-left: 4em
    }

    .rodape__icone-e-nome:hover{
        transform: scale(1.02);
        transition: 100ms;
        color: var(--cinza-escuro-rodape);
    }
}